[FROM HERE](https://medium.com/@mlblogging.k/free-financial-data-sources-4283846ba9f5)

## load libraries

In [ ]:
%pip install --user investpy

In [ ]:
import investpy
df = investpy.get_stock_historical_data(
stock='MSFT',
country='United States',
from_date='01/01/2023',
to_date='11/07/2024'
)
print(df.head())

## Stooq

In [5]:
%pip install --user pandas_datareader

Requirement already satisfied: pandas_datareader in /home/trapapa/.local/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: lxml in /home/trapapa/.local/lib/python3.10/site-packages (from pandas_datareader) (5.2.2)
Requirement already satisfied: requests>=2.19.0 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: pandas>=0.23 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/trapapa/.local/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2024.6.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.19.0->pandas_datareader) (1.26.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/trapapa/.local/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas_datareader as pdr
dfr = pdr.stooq.StooqDailyReader(
# symbols=[ 'META.US', 'MSFT.US', 'GOOG.US'],
symbols=[ 'TREX.US'],
start='1/1/14',
end='31/12/24'
)
df = dfr.read()
# print(df.head())
df

Attributes    Close     High     Low    Open   Volume
Symbols     TREX.US  TREX.US TREX.US TREX.US  TREX.US
Date
2024-06-04  82.5200  84.6300  82.310  84.000   746417
2024-06-03  84.3800  86.8400  84.160  86.840   759527
2024-05-31  86.4800  86.5250  84.740  86.030   893154
2024-05-30  85.9500  86.6300  85.470  85.930   436687
2024-05-29  85.3800  86.5900  84.990  85.630   627429
...             ...      ...     ...     ...      ...
2014-01-08   9.0590   9.1475   8.821   8.996  1915344
2014-01-07   8.9975   9.1500   8.786   9.079  3876080
2014-01-06   9.3600   9.6880   9.339   9.688  1331000
2014-01-03   9.6260   9.8340   9.540   9.619  1421392
2014-01-02   9.6210  10.0210   9.461   9.930  1752816

[2623 rows x 5 columns]