# Simple Download stock data to file

In [ ]:
# use python version 3.10.12

# install necessary modules
%pip install --user yfinance==0.2.40
%pip install pandas_datareader

from datetime import datetime
import yfinance as yf

stocks = ['CROX', ] #TREX
for stock in stocks:
    data = yf.download(stock, start='2022-01-01')
    data.to_csv(stock + ".csv", mode="w")

[pandas-read-write-files](https://realpython.com/pandas-read-write-files/)

In [4]:
# use python version 3.10.12

# install necessary modules
# %pip install --user yfinance==0.2.40
%pip install pandas

import pandas as pd
df = pd.read_csv('TREX.csv', index_col=0)
df

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/trapapa/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/trapapa/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,135.520004,136.779999,130.880005,132.009995,132.009995,663200
2022-01-04,132.470001,134.589996,132.130005,133.550003,133.550003,660700
2022-01-05,132.839996,133.100006,126.510002,126.620003,126.620003,934300
2022-01-06,125.660004,125.970001,121.080002,123.459999,123.459999,1157600
2022-01-07,123.089996,124.800003,116.750000,116.940002,116.940002,1146700
...,...,...,...,...,...,...
2024-05-24,87.839996,88.830002,87.000000,88.300003,88.300003,445400
2024-05-28,88.610001,88.839996,86.589996,86.709999,86.709999,543700
2024-05-29,85.629997,86.589996,84.989998,85.379997,85.379997,627400
2024-05-30,85.930000,86.629997,85.470001,85.949997,85.949997,436700
2024-05-31,86.029999,86.529999,84.739998,86.480003,86.480003,893200